.header {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  padding: 15px 25px 15px 15px;
  box-sizing: border-box;
  font-size: 20px;
  text-decoration: none;

  a {
    text-decoration: none;
    color: var(--color-black);
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
      color: var(--color-primary);
      transform: scale(1.05);
    }
  }

  &.headerexpanded {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .header_logo {
      display: flex;
      flex-direction: row;
    }

    .header_menu {
      display: flex;
      flex-direction: row;
      align-items: center;

      .menu_button {
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  .menu_items {
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding: 15px;

    &.menu_itemsopen {
      display: flex; // 메뉴가 열릴 때 보임
    }

    .menu_item {
      text-align: center;
      text-decoration: none;

      img {
        width: 24px;
        height: 24px;
        margin-right: 24px;
      }
    }
  }
}

@media (min-width: 640px) {
  .header {
    .header_menu {
      display: none;
    }

    .menu_items {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &_wrapper {
      width: 10%;
    }
  }
}
