.header_container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.header_wrapper {
  padding: 0 2.4rem;
  display: flex;
  justify-content: center;
}

.header_items {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}
.eachItem {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}
.leftside {
  display: flex;
  margin-left: auto;
  gap: 3rem;
}
