@import "@styles/mixin";

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  border-radius: 0.4rem;
  box-sizing: border-box;
  border: 0.1rem solid var(--color-gray-30);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &::placeholder {
    color: var(--color-gray-50);
    font-weight: var(--font-regular);
  }

  &:focus {
    border-color: var(--color-primary);
  }

  &.small {
    height: 3rem;
    padding: 0 1.2rem;
    font-size: 1.2rem;
  }

  &.large {
    height: 5rem;
    padding: 0 1.4rem;
    font-size: 1.4rem;
  }

  &.number {
    height: 6rem;
    padding: 0 0.2rem;
    font-size: 2rem;
    text-align: center;
  }

  &.true {
    border-color: var(--color-error);

    &:focus {
      border-color: var(--color-error);
    }
  }
}

input:disabled {
  background-color: var(--color-gray-10);
}
