@import "@styles/mixin";

input {
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid var(--color-gray-30);

  &::placeholder {
    color: var(--color-gray-50);
    font-weight: var(--font-regular);
  }

  &:focus {
    border-color: var(--color-primary);
  }

  &.small {
    height: 30px;
    padding: 0 12px;
    font-size: 1.2rem;
  }

  &.large {
    height: 50px;
    padding: 0 14px;
    font-size: 1.4rem;
  }

  &.number {
    height: 60px;
    padding: 0 2px;
    font-size: 2rem;
    text-align: center;
  }

  &.true {
    border-color: var(--color-error);

    &:focus {
      border-color: var(--color-error);
    }
  }
}
