.modal_wrapper {
  position: fixed;
  background-color: rgb(0 0 0 / 0.8);
  padding: 0 2.4rem;
  box-sizing: border-box;
  z-index: 1;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;

  .calendar_modal {
    background-color: var(--color-white);
    max-width: 45rem;
    min-width: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    box-sizing: border-box;

    & h3 {
      width: 100%;
      text-align: left;
      font-size: 2.3rem;
      font-weight: var(--font-bold);
    }
  }

  .modalContainer {
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border: 0.1rem solid var(--color-gray-10);
    border-radius: 2rem;
    box-sizing: border-box;

    & h4 {
      font-size: 2rem;
      font-weight: var(--font-bold);
    }

    .modalContent {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      margin-top: 0.4rem;

      .modalDetails {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;

        .modalDetailItem {
          display: flex;
          gap: 0.8rem;

          & img {
            width: 1.6rem;
          }

          & p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .buttonBox {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
  }
}
