@import "@styles/mixin";

.calendar_wrapper {
  transition: all 0.3s;
  margin: 50px auto;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 8px;

  .calendar_header {
    transition: all 0.3s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & h2 {
      margin-right: auto;
      color: var(--color-primary);
      font-size: 2.5rem;
      font-weight: 600;
      transition: all 0.3s;
    }
  }

  .weeksList {
    transition: all 0.3s;
    width: 100%;
    color: #bccad9;
    font-size: 1.2rem;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(7, 1fr);

    .weeksItem {
      padding: 6px 0;
      box-sizing: border-box;
      background-color: rgba(164, 220, 249, 0.2);
      text-align: center;
      font-weight: 600;
    }
  }

  .daysList {
    transition: all 0.3s;
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;

    .daysItem {
      min-height: 100px;
      padding: 10px;
      border: 1px solid rgba(164, 220, 249, 0.2);
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: hidden;
      cursor: pointer;

      & p {
        background-color: rgba(164, 220, 249, 0.2);
        padding: 4px;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        flex-shrink: 0;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
      }

      // .daysCover {
      //   height: 100%;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;

      //   .daysSrc {
      //     width: 32px;
      //   }
      // } //일정만들기 달력 구현시 이미지로 표시

      &:hover {
        transition: all 0.3s;
        box-shadow: 0 0 10px rgba(164, 220, 249, 0.3);
      }
    }
  }

  @include tablet {
    padding: 0 24px;
    max-width: 1000px;
    width: 100%;
  }
}

@include mobile {
  .calendar_wrapper {
    .calendar_header {
      & h2 {
        font-size: 2rem;
      }
    }
  }

  .daysList {
    .daysItem {
      font-size: 8px;
    }
  }

  .weeksLIst {
    gap: 4px;

    .weeksItem {
      padding: 2px 0;
    }
  }

  .prevBtn,
  .nextBtn {
    width: 2.5rem;
    transition: all 0.3s;
  }

  .daysList {
    gap: 4px;

    .daysItem {
      min-height: 80px;
      gap: 6px;
    }
  }
}
