.modal-wrapper {
  position: fixed;
  background-color: rgb(0 0 0 / 0.8);
  z-index: 1;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .calendar-modal {
    background-color: var(--color-white);
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;

    .calendar-modal-date {
      font-size: 26px;
      font-weight: 700;
    }
  }
}

.calendar-modal-item {
  background-color: var(--color-white);
  max-width: 450px;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 20px;
  border: 1px solid var(--color-gray-10);
  border-radius: 20px;
  box-sizing: border-box;

  .calendar-modal-item-tit {
    font-size: 2rem;
    font-weight: 700;
  }

  .calendar-modal-item-contents {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .calendar-modal-item-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 10px;

      .calendar-modal-item-info {
        display: flex;
        gap: 8px;

        .calendar-modal-item-icon {
          width: 16px;
        }

        .calendar-modal-item-text {
          font-size: 1.2rem;
        }
      }
    }
  }
}
