@import "@styles/mixin";

.modal_wrapper {
  @include center-xy();
  position: fixed;
  background-color: rgb(0 0 0 / 0.8);
  z-index: 1;
  inset: 0;
  flex-direction: column;
  overflow: hidden;
  padding: 0 2.4rem;

  .promise_modal {
    @include flex-vertical();
    background-color: var(--color-white);
    margin: 4rem 0;
    max-width: 45rem;
    width: 100%;
    align-items: center;
    border-radius: 2rem;
    box-sizing: border-box;
    overflow: hidden;

    & .promise_modal_header {
      @include center-xy();
      padding: 2rem;
      box-sizing: border-box;
      width: 100%;
      box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
      z-index: 2;

      & .search_container {
        @include flex-vertical(0.5rem);
        width: 100%;

        & .search_item {
          position: relative;

          & button {
            position: absolute;
            top: 50%;
            right: 1.2rem;
            transform: translateY(-50%);

            img {
              width: 1.5rem;
            }

            &:focus {
              box-shadow: inset 0 0 0 0.1rem var(--color-primary);
              border-radius: 0.4rem;
              padding: 0.2rem;
              box-sizing: border-box;
            }
          }
        }
      }
    }

    & .promise_modal_main {
      box-shadow: inset 0 0 2px blue;
      width: 100%;
      aspect-ratio: 1/1;

      .map_container {
        width: 100%;
        height: 100%;
        position: relative;

        .control {
          @include flex-vertical();
          @include font(2rem, 2.4rem, var(--font-regular));
          width: 3rem;
          height: 9rem;
          box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.4);
          border-radius: 0.4rem;
          box-sizing: border-box;
          overflow: hidden;

          position: absolute;
          bottom: 1rem;
          right: 1rem;
          z-index: 9999;

          & button {
            @include center-xy();
            width: 3rem;
            height: 3rem;
            background-color: var(--color-white);
            color: var(--color-black);
            border-bottom: 1px solid var(--color-gray-10);

            & img {
              width: 1.5rem;
              height: 1.5rem;
            }
          }

          & button:first-child {
            border-top-left-radius: 0.4rem;
            border-top-right-radius: 0.4rem;
          }

          & button:last-child {
            border-bottom: unset;
            border-bottom-left-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;
          }

          & button:focus {
            box-shadow: inset 0 0 0 0.2rem var(--color-primary);
          }
        }

        & .address_container {
          @include flex-horizontal(1rem);
          align-items: center;
          padding: 1rem;
          background-color: var(--color-white);
          border-radius: 0.4rem;
          border: 0.1rem solid var(--color-gray-50);
          box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
          box-sizing: border-box;

          & .address_content {
            @include font(1.2rem, 1.6rem, var(--font-semibold));
            margin: unset;

            color: var(--color-black);
          }

          & .address_button {
            @include font(1rem, 1.2rem, var(--font-regular));
            background-color: var(--color-secondary);
            color: var(--color-white);
            padding: 0.5rem;
            box-sizing: border-box;
            border-radius: 0.4rem;
          }
        }
      }
    }

    & .promise_modal_footer {
      padding: 2rem;
      box-sizing: border-box;
      width: 100%;
      box-shadow: 0 -0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
      z-index: 2;

      & .footer_content {
        @include font(1.6rem, 1.2, var(--font-semibold));
        color: var(--color-blue);
        margin-bottom: 2rem;
      }

      & .footer_button {
        display: flex;

        & div {
          display: flex;
          gap: 10px;
          margin-left: auto;
        }
      }
    }
  }
}
