.modal-wrapper {
  position: fixed;
  background-color: rgb(0 0 0 / 0.8);
  z-index: 1;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 24px;

  .promise-modal {
    background-color: var(--color-white);
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;

    .layout-btn {
      margin: 0 auto;
    }

    .promise-modal-header {
      width: 100%;
      display: flex;
      padding-left: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
      gap: 1.2rem;
      border-bottom: 1px solid var(--color-gray-30);

      .promise-select-user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        .select-user-src {
          width: 40px;
        }
      }
    }

    .select-user-name {
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--color-black);
      margin: 0;
    }

    .promise-modal-contents {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .promise-modal-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & h3 {
          font-size: 1.5rem;
          font-weight: 600;
        }

        .promise-modal-list-box {
          border: 1px solid var(--color-gray-30);
          border-radius: 10px;
          height: 200px;
          overflow-y: auto;

          .promise-modal-list-item {
            display: flex;
            justify-content: space-between;
            padding: 8px;
            padding-bottom: 4px;
            box-sizing: border-box;
            border-bottom: 1px solid var(--color-gray-30);

            .promise-modal-list-info {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }
      }
    }
  }
}
