@import "@styles/mixin";

.modal_wrapper {
  @include center-xy();
  position: fixed;
  background-color: rgb(0 0 0 / 0.8);
  z-index: 1;
  inset: 0;
  flex-direction: column;
  overflow: hidden;
  padding: 0 2.4rem;

  .promise_modal {
    @include flex-vertical();
    background-color: var(--color-white);
    margin: 4rem 0;
    max-width: 45rem;
    align-items: center;
    border-radius: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
  }
}
