@import "@styles/mixin";

.login_wrapper {
  flex-grow: 1;
  padding: 0 2.4rem;
  box-sizing: border-box;
  transition: all 0.3s;

  h1 {
    @include font(2.4rem, 1.2, var(--font-semibold));
    margin-top: 5rem;
    text-align: center;
  }

  form {
    @include flex-vertical(2rem);
    margin-top: 3rem;
  }

  .input_container {
    & label {
      @include font(1.6rem, 1.3, var(--font-semibold));
      display: block;
      margin-bottom: 0.8rem;
    }

    & p {
      @include font(1.4rem, 1.6rem, var(--font-regular));
      color: var(--color-error);
      margin-top: 0.8rem;
    }
  }

  .checkbox {
    & input {
      display: none;
    }

    & label {
      @include font(1.2rem, 1.6rem, var(--font-regular));
      @include flex-horizontal(1rem);
      color: var(--color-gray-50);
      position: relative;
      align-items: center;
      cursor: pointer;
      outline: none;
    }

    & label:focus {
      border-radius: 0.4rem;
      box-shadow: inset 0 0 0 0.1rem var(--color-primary);
    }

    & label::before {
      content: "";
      width: 2rem;
      height: 2rem;
      background-color: #fff;
      border: 0.1rem solid var(--color-gray-30);
      border-radius: 50%;
      box-sizing: border-box;
      cursor: pointer;
    }

    & input:checked + label::before {
      background-color: var(--color-primary);
      border-color: var(--color-primary);
    }

    & input:checked + label::after {
      content: "";
      position: absolute;
      width: 0.5rem;
      height: 1rem;
      top: 0.8rem;
      left: 1rem;
      transform: translate(-50%, -50%) rotate(45deg);
      border-right: 0.1rem solid #fff;
      border-bottom: 0.1rem solid #fff;
    }
  }

  button {
    @include font(1.6rem, 2rem, var(--font-regular));
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    width: 100%;
    height: 4rem;
    border-radius: 2rem;
  }

  .signup {
    @include center-xy;
    @include font(1.6rem, 2rem, var(--font-regular));
    background-color: var(--color-secondary);
    color: var(--color-white);
    width: 100%;
    height: 4rem;
    border-radius: 2rem;
    margin: 1rem 0;
    outline: none;

    &:focus {
      box-shadow: inset 0 0 0 0.2rem var(--color-primary);
    }
  }

  .help {
    @include center-xy(2rem);
    @include font(1.2rem, 1.6rem, var(--font-regular));
    color: var(--color-gray-50);
    margin-bottom: 3rem;
    outline: none;

    .help_link {
      outline: none;
      padding: 0.2rem;
      box-sizing: border-box;
    }

    .help_link:hover {
      font-weight: var(--font-semibold);
      text-decoration: underline;
    }

    .help_link:focus {
      box-shadow: inset 0 0 0 1px var(--color-primary);
      border-radius: 0.4rem;
    }
  }

  .social {
    @include center-xy(5rem);
    margin-bottom: 5rem;

    button {
      @include center-xy();
      min-width: 0;
      flex-shrink: 0;
      background-color: var(--color-white);
      width: 5rem;
      height: 5rem;
      border: 0.1rem solid var(--color-gray-30);
      border-radius: 50%;
      box-sizing: border-box;

      img {
        width: 2rem;
      }

      &:focus {
        border-color: var(--color-primary);
      }
    }
  }

  @include tablet {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 3rem;

    h1 {
      margin-top: 8rem;
    }

    form {
      margin-top: 5rem;
      gap: 3rem;
    }

    .signup {
      margin: 3rem 0;
    }

    .help {
      margin-bottom: 8rem;
    }
  }
}
