@import "@styles/mixin";

.signup_wrapper {
  flex-grow: 1;
  padding: 0 2.4rem;
  box-sizing: border-box;
  transition: all 0.3s;

  h1 {
    @include font(2.4rem, 1.2, var(--font-semibold));
    margin-top: 5rem;
    text-align: center;
  }

  form {
    @include flex-vertical(2rem);
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .input_container {
    & label {
      @include font(1.6rem, 1.3, var(--font-semibold));
      display: block;
      margin-bottom: 0.8rem;
    }

    & p {
      @include font(1.4rem, 1.6rem, var(--font-regular));
      color: var(--color-error);
      margin-top: 0.8rem;
    }

    .email_container {
      @include flex-horizontal(0.7rem);
      align-items: center;
      position: relative;

      p {
        margin: unset;
        color: var(--color-black);
      }

      .check_button {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -4rem;
      }
    }

    & p {
      @include font(1.4rem, 1.6rem, var(--font-regular));
      color: var(--color-error);
      margin-top: 0.8rem;
    }
  }

  .select_container {
    @include flex-horizontal(1rem);
    align-items: center;

    .select_item {
      width: 100%;
      @include flex-horizontal(0.7rem);
      align-items: center;

      & p {
        @include font(1.4rem, 1.6rem, var(--font-regular));
        color: var(--color-black);
        margin: unset;
      }
    }
  }

  @include tablet {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 3rem;

    h1 {
      margin-top: 8rem;
    }

    form {
      margin-top: 5rem;
      margin-bottom: 8rem;
      gap: 3rem;
    }

    .input_container {
      .email_container {
        @include flex-horizontal(1.7rem);
      }
    }
  }
}
