@import "@styles/mixin";

.mypage_wrapper {
  flex-grow: 1;
  padding: 0 2.4rem;
  box-sizing: border-box;
  transition: all 0.3s;
  margin-bottom: 5rem;

  .profile_container {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;

    .profile_img {
      width: 10rem;
      aspect-ratio: 1/1;
      margin-bottom: 3rem;
    }

    .profile_name {
      @include font(2.4rem, 1.2, var(--font-semibold));
    }
  }

  .info_container {
    @include flex-vertical(2rem);

    .info_title {
      @include font(1.6rem, 1.3, var(--font-semibold));
      margin-bottom: 1rem;
    }

    .info_content {
      @include font(1.6rem, 1.3, var(--font-regular));
      color: var(--color-gray-50);
    }
  }

  .profile_edit_button {
    margin-top: 7rem;
  }

  @include tablet {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: unset;

    .profile_container {
      margin-top: 7rem;
      margin-bottom: 5rem;

      .profile_img {
        width: 12rem;
        margin-bottom: 5rem;
      }
    }

    .info_container {
      @include flex-vertical(3rem);

      .info_title {
        @include font(1.8rem, 1.3, var(--font-semibold));
        margin-bottom: 1.5rem;
      }

      .info_content {
        @include font(1.8rem, 1.3, var(--font-regular));
        color: var(--color-gray-50);
      }
    }
  }
}
