@import "@styles/mixin";

.mypage_edit_wrapper {
  flex-grow: 1;
  padding: 0 2.4rem;
  box-sizing: border-box;
  transition: all 0.3s;

  .profile_container {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;

    .profile_img {
      width: 10rem;
      aspect-ratio: 1/1;
      margin-bottom: 3rem;
    }

    .profile_name {
      @include font(2.4rem, 1.2, var(--font-semibold));
    }
  }

  form {
    @include flex-vertical(2rem);
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .password_option {
    position: relative;
    display: flex;

    & p {
      flex-grow: 1;
      @include font(1.6rem, 1.3, var(--font-semibold));
      margin-bottom: 0.8rem;
    }

    & .checkbox {
      opacity: 0;
      position: absolute;
    }

    &:focus-within label {
      box-shadow: inset 0 0 0 1px var(--color-gray-10);
    }

    & label {
      display: inline-block;
      cursor: pointer;
      width: 40px;
      height: 20px;
      background-color: #e0e0e0;
      border-radius: 10px;
      position: relative;
      transition: 0.2s ease-out;
      margin-bottom: 2px;
    }

    & .checkbox:checked + label {
      background-color: var(--color-primary);
    }

    & label:after {
      content: "";
      width: 15px;
      height: 15px;
      background-color: #fff;
      position: absolute;
      border-radius: 50%;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      transition: 0.5s ease-out;
    }

    & .checkbox:checked + label:after {
      background-color: #55a25a;
      left: calc(100% - 18px);
      background-color: #fff;
    }
  }

  .input_container {
    & label {
      @include font(1.6rem, 1.3, var(--font-semibold));
      display: block;
      margin-bottom: 0.8rem;
    }
    & p {
      @include font(1.4rem, 1.6rem, var(--font-regular));
      color: var(--color-error);
      margin-top: 0.8rem;
    }

    & p {
      @include font(1.4rem, 1.6rem, var(--font-regular));
      color: var(--color-error);
      margin-top: 0.8rem;
    }
  }

  .info_container {
    @include flex-vertical(2rem);

    .info_title {
      @include font(1.6rem, 1.3, var(--font-semibold));
      margin-bottom: 1rem;
    }

    .info_content {
      @include font(1.6rem, 1.3, var(--font-regular));
      color: var(--color-gray-50);
    }
  }

  @include tablet {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 3rem;

    .profile_container {
      margin-top: 7rem;
      margin-bottom: 5rem;

      .profile_img {
        width: 12rem;
        margin-bottom: 5rem;
      }
    }

    form {
      margin-top: 5rem;
      margin-bottom: 8rem;
      gap: 3rem;
    }

    .info_container {
      @include flex-vertical(3rem);

      .info_title {
        @include font(1.8rem, 1.3, var(--font-semibold));
        margin-bottom: 1.5rem;
      }

      .info_content {
        @include font(1.8rem, 1.3, var(--font-regular));
        color: var(--color-gray-50);
      }
    }
  }
}
