.titlePageLayout {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.titlePageWrapper {
  display: flex;
  justify-content: space-between;
}

.titleImageWrapper {
  margin-left: auto;
  display: flex;
  gap: 3rem;
}

.titlePageHeader {
  font-size: 2.4rem;
  font-weight: 500;
}
