.searchContainer {
  position: relative;
  width: 100%;
  margin-top: 3rem;

  .inputContent {
    width: 100%;
    padding: 1.7rem 1.4rem;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
  }

  .searchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    pointer-events: none;
  }
}
