.container {
  display: flex;
  align-items: center;

  transition: transform 0.3s ease;
  cursor: pointer;

  div:first-child {
    margin-right: 20px;

    img {
      width: 40px;
      height: 40px;
    }
  }

  div:last-child {
    h1 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    p {
      font-size: 12px;
      color: #666666;
    }

    .btn {
      box-sizing: border-box;
      margin-left: 10%;
      display: flex;
      gap: 15px;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .editwrapper {
    position: relative;
    left: 5rem;
  }

  .containerimg {
    width: 2rem;
    height: 2.5rem;
  }
}

.searchContainer {
  position: relative;
  width: 100%;
  margin-top: 3rem;

  .inputContent {
    width: 100%;
    padding: 1.7rem 1.4rem;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.4rem;
  }

  .searchIcon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    pointer-events: none;
  }
}
.container {
  display: flex;
  align-items: center;

  transition: transform 0.3s ease;
  cursor: pointer;

  div:first-child {
    margin-right: 2rem;

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  div:last-child {
    h1 {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 0.8rem;
    }

    p {
      font-size: 1.2rem;
      color: #666666;
    }

    .btn {
      box-sizing: border-box;
      margin-left: 10%;
      display: flex;
      gap: 1.5rem;
    }
  }

  .container {
    display: flex;
    align-items: center;
  }

  .containerimg {
  }
}

.searchContainer {
  position: relative;
  width: 100%;
  margin-top: 3rem;

  .inputContent {
    width: 100%;
    padding: 1.7rem 1.4rem;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.4rem;
  }

  .searchIcon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;
    pointer-events: none;
  }
}

@media (min-width: 640px) {
}
